<section class="todoapp">
  <header class="header">
    <div class="row">
      <div class="col s12 center">
        <h1>Todo List</h1>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <p class="footer" *ngIf="todos.length > 0">
          <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
        </p>
      </div>

    </div>
    <div class="row">
      <div class="col offset-s3 s6  center">
        <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
        <a placeholder="create" type="submit" class="waves-effect waves-light btn" (click)="addTodo()">create</a>
      </div>
    </div>
  </header>
  <style>

  .under:hover{
    background-color: rgba(211, 211, 211, 0.22);
  }

  </style>
<section class="main" *ngIf="todos.length > 0">
  <ul class="todo-list" >
    <li *ngFor="let todo of todos" [class.completed]="todo.complete">
      <div class="row">
        <div class="view col offset-s3 s6 under">

          <div class="col s10 align-left ">

            <input id="{{todo.title}}" class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
            <label for="{{todo.title}}">{{todo.title}}</label>


          </div>
          <div class="col s2 center">
            <a title="delete ?"class="destroy  " (click)="removeTodo(todo)"><i class="small material-icons" style="color:red;">close</i></a>
          </div>

</div>
</div>
</li>

</ul>
</section>

</section>